body {
  background-color: #041200;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#glitchy-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

#about-me {
  font-size: 18px;
  margin-bottom: 20px;
}

#social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

#social-links li {
  display: inline-block;
  margin-right: 20px;
}

#social-links a {
  color: #33CC33;
  text-decoration: none;
}

#terminal-font {
  font-size: 14px;
  background-color: #304530;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
